name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        options: >-
          --health-cmd "pg_isready -U test"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_EXPIRES_IN: '1d'
      DATABASE_URL: "postgresql://test:test@localhost:5432/testdb"
      AFRICASTALKING_API_KEY: ${{ secrets.AFRICASTALKING_API_KEY }}
      AFRICASTALKING_USERNAME: ${{ secrets.AFRICASTALKING_USERNAME }}

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm ci

    - name: Run Prisma migrations
      run: npx prisma migrate deploy

    - run: npm run build --if-present
    - run: npm test
